= render 'shared/header'
.breadcrumb
  .breadcrumb__list
    - breadcrumb :users, @users
    = breadcrumbs separator: " #{fa_icon("chevron-right")} "
.container
  = render "shared/mypage_side_bar"
  = render "shared/mypage_contents"
= render "shared/display_icon"
= render "shared/footer"