.container
  = render "shared/second__header"
  .clearfix
    .item
      .item__top
        %p.item__top__title 購入内容の確認
      = form_with(url: "/items/#{@item.id}/purchases", local: true, id: "charge-form" ) do |f|
        .item__main
          .item__main__detail
            .item__main__detail__left
              = image_tag "#{@image.image}", class:"item__main__detail__left__image"
            .item__main__detail__right
              .item__main__detail__right__name
                = @item.name
          .item__main__burden
            .item__main__burden__price
              = "¥ #{@item.price}"
              = f.hidden_field :price, value: @item.price
            .item__main__burden__text
              送料込み
          .item__main__point
            - if @point_all == 0
              = "ポイントはありません"
            - else
              %p.item__main__point-red
                %span= @point_all
                ポイント使用できます

          .item__main__price
            .item__main__price__left
              支払い金額
            .item__main__price__right
              = "¥ #{@item.price}"
          .item__main__buy
            = f.submit "購入する", class: "item__main__buy__link"
        .item__addless
          .item__addless__box
            .item__addless__box__title
              配送先
            .item__addless__box__code
              = "〒#{@address.postal_code}"
            .item__addless__box__country
              = "#{Prefecture.find(@address.country_id)[:name]} #{@address.city} #{@address.address}"
            .item__addless__box__name
              = "#{@information.first_name} #{@information.last_name}"
            .item__addless__box__link
              = link_to "変更する", '#', class: "item__addless__box__link__word"
        .item__card
          .item__card__main
            .item__card__main__box
              .item__card__main__box__left
                .item__card__main__box__left__title 支払い方法
                .item__card__main__box__left__image
                  = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1612736639', class: "item__card__main__box__left__image__box"
                .item__card__main__box__left__number
                = "**************#{@card[:last4]}"
                .item__card__main__box__left__day
                = "#{@card[:exp_month]}/#{@card[:exp_year].to_s.gsub(/^../,"")}"
                .item__card__main__box__left__link
                  = link_to "変更する",'#', class: "item__card__main__box__left__link__word"


  = render "shared/second__footer"