.header
  .header__frame
    .header__frame__top
      .header__frame__top__image
        %a{href: "/"}
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?344707752", class: "mercari"
      = search_form_for(@q,class: "header__frame__top__form", url:search_items_path) do |f|
        = f.search_field :name_or_description_cont, placeholder: "何かお探しですか？", class: "searchform"
        = button_tag type: 'submit', class: 'btn btn-primary' do
          = fa_icon("search")
    .header__frame__bottom
      .header__frame__bottom__list-left
        .header__frame__bottom__list-left__category
          = link_to categories_path, class: "header__frame__bottom__list-left__category__link link", data: {"turbolinks": false} do
            = fa_icon("list")
            %span カテゴリーから探す
            
        .header__frame__bottom__list-left__brand
          = link_to '#', class: "header__frame__bottom__list-left__brand__link link" do
            = fa_icon("tag")
            %span ブランドから探す
      .header__frame__bottom__list-right
        - if user_signed_in?
          .header__frame__bottom__list-right__news
            = link_to '#', class: "header__frame__bottom__list-right__news__link right-link" do
              = fa_icon("bell")
              %span お知らせ
          .header__frame__bottom__list-right__todolist
            = link_to '#', class: "header__frame__bottom__list-right__todolist__link right-link" do
              = fa_icon("check")
              %span やることリスト
          .header__frame__bottom__list-right__mypage
            = link_to user_path(current_user.id), class: "header__frame__bottom__list-right__mypage__link right-link" do
              .header__frame__bottom__list-right__mypage__image
                = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", size: "32x32"
              .header__frame__bottom__list-right__mypage__text マイページ
        - else
          .header__frame__bottom__list-right__mypage
            .header__frame__bottom__list-right__mypage__sign-up.header__frame__bottom__list-right__mypage__user
              = link_to "新規登録", new_user_registration_path, class: "header__frame__bottom__list-right__mypage__user__link header__frame__bottom__list-right__mypage__user__link-red"
            .header__frame__bottom__list-right__mypage__sign-in.header__frame__bottom__list-right__mypage__user
              = link_to "ログイン", users_path, class: "header__frame__bottom__list-right__mypage__user__link header__frame__bottom__list-right__mypage__user__link-blue"
