= render 'shared/header'
.detailpage
  .detailpage-center
    .details
      .detail__item
        .detail__item-name
          = @item.name
        .detail__item__info
          .detail__item__info__image
            .detail__item__info__image-top
              - @images.each do |image|
                .detail__item__info__image-big
                  = image.image
            .detail__item__info__image-dots
              - @images.each do |image|
                .detail__item__info__image-dot
                  = image.image
          .detail__item__info__table
            %table.table-out
              %tr
                %th 出品者
                %td
                  %a マッサン
                %div
              %tr
                %th カテゴリー
                %td
                  %div #{@item.categories.name}
              %tr
                %th ブランド
                %td
              %tr
                %th 商品の状態
                %td 新品・未使用
              %tr
                %th 配送料の負担
                %td 送料込み
              %tr
                %th 発送の方法
                %td データ
              %tr
                %th 発送元地域
                %td データ
              %tr
                %th 発想の目安
                %td データ
      .detail__price
        .detail__price-price
          ¥
          = @item.price
        .detail__price-tax
          （税込）
        .detail__price-cost
          送料込み
        %p.exhibition-link__comment
          = @item.description
    .exhibition-link
      .exhibition-link__box.exhibition-link__box-red
        = link_to "商品の編集", edit_user_exhibition_path(1, @item.id), class: "exhibition-link__link"
      %p.exhibition-link__text or
      .exhibition-link__box.exhibition-link__box-red
        = link_to "出品を停止する", '#', class: "exhibition-link__link"
      .exhibition-link__box
        = link_to "この商品を削除する", "/items/#{params[:id]}",method: :delete,data:{ confirm: '本当に削除して良いですか?',commit: '削除する'}, class: "exhibition-link__link"
    .detail__form
      .detail__form-info
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.detail__textarea
      .detail__send-btm
        コメントする
= render 'shared/footer'

