= render 'shared/header'
.main 
  .main__visual
    = image_tag 'https://www.mercari.com/jp/assets/img/common/jp/top/banner-6th-thanks.jpg', class: "main__visual__image"
  .main__pickup
    .main__pickup__head
      ピックアップカテゴリー
    .main__pickup__text
      = link_to "レディース 新着アイテム", item_path(10), class: "newitem"
    .main__pickup__newitems
      - @ladies.first(4).each do |category|
        - unless category.item.item_images.empty?
          .main__pickup__newitems__box
            .main__pickup__newitems__box__photo
              %a{href: "/items/#{category.item.id}"}
                = image_tag category.item.item_images.first.image.to_s, size: "213x213"
            .main__pickup__newitems__box__body
              .main__pickup__newitems__box__body__name
                = category.item.name
              .main__pickup__newitems__box__body__value
                ￥
                = category.item.price.to_s(:delimited)
              .main__pickup__newitems__box__body__tax
                (税込)
                .main__pickup__newitems__box__body__tax__heart
                  = fa_icon("heart")
                  %span 1
    .main__pickup__view
      = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"


    .main__pickup__text
      = link_to "メンズ 新着アイテム", 'root_path', class: "newitem"

    .main__pickup__newitems
      - @mens.first(4).each do |category|
        - unless category.item.item_images.empty?
          .main__pickup__newitems__box
            .main__pickup__newitems__box__photo
              %a{href: "/items/#{category.item.id}"}
                = image_tag category.item.item_images.first.image.to_s, size: "213x213"
            .main__pickup__newitems__box__body
              .main__pickup__newitems__box__body__name
                = category.item.name
              .main__pickup__newitems__box__body__value
                ￥
                = category.item.price.to_s(:delimited)
              .main__pickup__newitems__box__body__tax
                (税込)
                .main__pickup__newitems__box__body__tax__heart
                  = fa_icon("heart")
                  %span 1
    .main__pickup__view
      = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"

    .main__pickup__text
      = link_to "ベビー・キッズ 新着アイテム", 'root_path', class: "newitem"
    .main__pickup__newitems
      - @babys.first(4).each do |category|
        - unless category.item.item_images.empty?
          .main__pickup__newitems__box
            .main__pickup__newitems__box__photo
              %a{href: "/items/#{category.item.id}"}
                = image_tag category.item.item_images.first.image.to_s, size: "213x213"
            .main__pickup__newitems__box__body
              .main__pickup__newitems__box__body__name
                = category.item.name
              .main__pickup__newitems__box__body__value
                ￥
                = category.item.price.to_s(:delimited)
              .main__pickup__newitems__box__body__tax
                (税込)
                .main__pickup__newitems__box__body__tax__heart
                  = fa_icon("heart")
                  %span 1
    .main__pickup__view
      = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"

    .main__pickup__text
      = link_to "コスメ・香水・美容 新着アイテム", 'root_path', class: "newitem"

    .main__pickup__newitems
      .main__pickup__newitems__box
        - @cosme.first(4).each do |category|
          - unless category.item.item_images.empty?
            .main__pickup__newitems__box
              .main__pickup__newitems__box__photo
                %a{href: "/items/#{category.item.id}"}
                  = image_tag category.item.item_images.first.image.to_s, size: "213x213"
              .main__pickup__newitems__box__body
                .main__pickup__newitems__box__body__name
                  = category.item.name
                .main__pickup__newitems__box__body__value
                  ￥
                  = category.item.price.to_s(:delimited)
                .main__pickup__newitems__box__body__tax
                  (税込)
                  .main__pickup__newitems__box__body__tax__heart
                    = fa_icon("heart")
                    %span 1
      .main__pickup__view
        = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"

    .main__pickup__head
      ピックアップブランド
    .main__pickup__text
      = link_to "シャネル 新着アイテム", 'root_path', class: "newitem"

    .main__pickup__newitems
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            ３
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1

      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            時の
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            おやつは
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            プロテイン
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
    .main__pickup__view
      = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"

    .main__pickup__text
      = link_to "ルイ・ヴィトン 新着アイテム", 'root_path', class: "newitem"

    .main__pickup__newitems
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            ３
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1

      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            時の
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            おやつは
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            プロテイン
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
    .main__pickup__view
      = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"

    .main__pickup__text
      = link_to "シュプリーム 新着アイテム", 'root_path', class: "newitem"

    .main__pickup__newitems
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            ３
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1

      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            時の
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            おやつは
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            プロテイン
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
    .main__pickup__view
      = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"
    
    .main__pickup__text
      = link_to "ナイキ 新着アイテム", 'root_path', class: "newitem"

    .main__pickup__newitems
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            ３
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1

      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            時の
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            おやつは
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
      .main__pickup__newitems__box
        .main__pickup__newitems__box__photo
          %a{href: "#"}
            = image_tag "https://static.mercdn.net/thumb/photos/m28094576764_1.jpg?1556509594", size: "213x213"
        .main__pickup__newitems__box__body
          .main__pickup__newitems__box__body__name
            プロテイン
          .main__pickup__newitems__box__body__value
            ￥1,250
          .main__pickup__newitems__box__body__tax
            (税込)
            .main__pickup__newitems__box__body__tax__heart
              = fa_icon("heart")
              %span 1
    .main__pickup__view
      = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"
= render "shared/display_icon"
= render 'shared/footer'

