= render 'shared/header'
.main 
  .main__visual
    = image_tag 'https://www.mercari.com/jp/assets/img/common/jp/top/banner-6th-thanks.jpg', class: "main__visual__image"
  .main__pickup
    .main__pickup__head
      ピックアップカテゴリー
    .main__pickup__text
      = link_to "レディース 新着アイテム", item_path(10), class: "newitem"
    .main__pickup__newitems
      - @ladies.first(4).each do |category|
        - unless category.item.item_images.empty?
          .main__pickup__newitems__box
            .main__pickup__newitems__box__photo
              %a{href: "/items/#{category.item.id}"}
                = image_tag category.item.item_images.first.image.to_s, size: "213x213"
            .main__pickup__newitems__box__body
              .main__pickup__newitems__box__body__name
                = category.item.name
              .main__pickup__newitems__box__body__value
                ￥
                = category.item.price.to_s(:delimited)
              .main__pickup__newitems__box__body__tax
                (税込)
                .main__pickup__newitems__box__body__tax__heart
                  = render partial: 'shared/like_items', locals: {item: category.item}
    .main__pickup__view
      = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"


    .main__pickup__text
      = link_to "メンズ 新着アイテム", 'root_path', class: "newitem"
    .main__pickup__newitems
      - @mens.first(4).each do |category|
        - unless category.item.item_images.empty?
          .main__pickup__newitems__box
            .main__pickup__newitems__box__photo
              %a{href: "/items/#{category.item.id}"}
                = image_tag category.item.item_images.first.image.to_s, size: "213x213"
            .main__pickup__newitems__box__body
              .main__pickup__newitems__box__body__name
                = category.item.name
              .main__pickup__newitems__box__body__value
                ￥
                = category.item.price.to_s(:delimited)
              .main__pickup__newitems__box__body__tax
                (税込)
                .main__pickup__newitems__box__body__tax__heart
                  = render partial: 'shared/like_items', locals: {item: category.item}
    .main__pickup__view
      = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"

    .main__pickup__text
      = link_to "ベビー・キッズ 新着アイテム", 'root_path', class: "newitem"
    .main__pickup__newitems
      - @babys.first(4).each do |category|
        - unless category.item.item_images.empty?
          .main__pickup__newitems__box
            .main__pickup__newitems__box__photo
              %a{href: "/items/#{category.item.id}"}
                = image_tag category.item.item_images.first.image.to_s, size: "213x213"
            .main__pickup__newitems__box__body
              .main__pickup__newitems__box__body__name
                = category.item.name
              .main__pickup__newitems__box__body__value
                ￥
                = category.item.price.to_s(:delimited)
              .main__pickup__newitems__box__body__tax
                (税込)
                .main__pickup__newitems__box__body__tax__heart
                  = render partial: 'shared/like_items', locals: {item: category.item}
    .main__pickup__view
      = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"

    .main__pickup__text
      = link_to "コスメ・香水・美容 新着アイテム", 'root_path', class: "newitem"

    .main__pickup__newitems
      .main__pickup__newitems__box
        - @cosme.first(4).each do |category|
          - unless category.item.item_images.empty?
            .main__pickup__newitems__box
              .main__pickup__newitems__box__photo
                %a{href: "/items/#{category.item.id}"}
                  = image_tag category.item.item_images.first.image.to_s, size: "213x213"
              .main__pickup__newitems__box__body
                .main__pickup__newitems__box__body__name
                  = category.item.name
                .main__pickup__newitems__box__body__value
                  ￥
                  = category.item.price.to_s(:delimited)
                .main__pickup__newitems__box__body__tax
                  (税込)
                  .main__pickup__newitems__box__body__tax__heart
                    = render partial: 'shared/like_items', locals: {item: category.item}
      .main__pickup__view
        = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"

    .main__pickup__head
      ピックアップブランド
    - brands = ["SAVAS", "シャネル", "ナイキ", "メルセデス・ベンツ"]
    - brands.each do |brand|
      .main__pickup__text
        = link_to "#{brand} 新着アイテム", 'root_path', class: "newitem"
      .main__pickup__newitems
        - brand = Brand.find_by(name: brand)
        - items = brand.items.limit(4)
        - items.each do |item|
          .main__pickup__newitems__box
            .main__pickup__newitems__box__photo
              %a{href: "/items/#{item.id}"}
                = image_tag item.item_images.first.image.to_s, size: "213x213"
            .main__pickup__newitems__box__body
              .main__pickup__newitems__box__body__name
                = item.name[0..10]
              .main__pickup__newitems__box__body__value
                ￥
                = item.price.to_s(:delimited)
              .main__pickup__newitems__box__body__tax
                (税込)
                .main__pickup__newitems__box__body__tax__heart
                  = render partial: 'shared/like_items', locals: {item: item}
      .main__pickup__view
        = link_to "全ての商品を見る", 'root_path', class: "main__pickup__view__link"

= render "shared/display_icon"
= render 'shared/footer'

