= render 'shared/header'
.detailpage
  .detailpage-center
    .details
      .detail__item
        .detail__item-name
          = @item.name
        .detail__item__info
          .detail__item__info__image
            .detail__item__info__image-top
              - @images.each do |image|
                .detail__item__info__image-big
                  = image_tag image.image.to_s, size: "300x300"
            .detail__item__info__image-dots
              - @images.each do |image|
                .detail__item__info__image-dot
                  = image_tag image.image.to_s, size: "60x60"
          .detail__item__info__table
            %table.table-out
              %tr
                %th 出品者
                %td
                  %a マッサン
                %div
              %tr
                %th カテゴリー
                %td
                  %div ＞#{@item.items_categories.first.category.name}
                  %div ＞#{@item.items_categories.second.category.name}
                  %div #{@item.items_categories.last.category.name}
              %tr
                %th ブランド
                %td
              %tr
                %th 商品の状態
                %td #{@item.item_state.state}
              %tr
                %th 配送料の負担
                %td 送料込み
              %tr
                %th 発送の方法
                %td データ
              %tr
                %th 発送元地域
                %td #{@item.prefecture.name}
              %tr
                %th 発想の目安
                %td #{@item.delivery_date.date}
      .detail__price
        .detail__price-price
          ¥
          = @item.price.to_s(:delimited)
        .detail__price-tax
          （税込）
        .detail__price-cost
          送料込み
        = link_to new_item_purchase_path(@item.id) do
          .detail__buy-btm
            購入画面に進む
        %p.detail__usercomment
          = @item.description
      .detail__action
        .detail__action__likes
          .detail__action__likes-image
            = fa_icon("heart")
          .detail__action__likes-text
            いいね！
          .detail__action__likes-count
            2
        .detail__action-report
          = fa_icon("flag",text:"不適切な商品の報告")
        .detail__action-policy
          = fa_icon("lock",text:"あんしん、あんぜんへの取り組み")
    .detail__form
      .detail__form-info
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %textarea.detail__textarea
      .detail__send-btm
        コメントする
    .move__items
      .move__items-next
        .move__items-next-arrow
          ＜
        .move__items-next-name
          プリティリトルシング　小さいサイズ　XS　ワンピース
      .move__items-back
        .move__items-back-name
          無印良品 シャンプー三本セット
        .move__items-back-arrow
          ＞
    .links
      .link-facebook
        = link_to "http://www.facebook.com/share.php?u=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm13733387425%2F", target: ["_blank"] do
          = fa_icon("facebook-square")
      .link-twitter
        = link_to 'https://twitter.com/mercari_jp', target: ["_blank"] do
          = fa_icon("twitter-square", class:"link-twitter")
      .link-pinterest
        = link_to 'http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fitem.mercari.com%2Fjp%2Fm13733387425%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm13733387425_1.jpg%3F1560742222&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20%E3%80%90analog%20%20lighting%2F%E3%82%A2%E3%83%8A%E3%83%AD%E3%82%B0%E3%83%A9%E3%82%A4%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0%E3%80%91%E3%83%AF%E3%83%B3%E3%83%94%E3%83%BC%E3%82%B9%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA', target: ["_blank"] do
          = fa_icon("pinterest-square", class: "link-pinterest")
    .other__items
      .other__items-name
        ーーさんのその他の出品
      .other__items__list
        - @selleritems.shuffle.first(6).each do |item|
          - unless item.item_images.empty?
            .other__items__list__box
              .other__items__list__box-photo
                %a{href: "/items/#{item.id}"}
                  = image_tag item.item_images.first.image.to_s, size: "220x220"
              .other__items__list__box__body
                .other__items__list__box__body__name
                  = item.name
                .other__items__list__box__body__value
                  ￥
                  = item.price.to_s(:delimited)
                .other__items__list__box__body__tax
                  (税込)
                  = fa_icon("heart")
      .other__items-name
        その他のカテゴリーの商品
      .other__items__list
        - @categoryitems.shuffle.first(6).each do |category|
          - unless category.item.item_images.empty?
            .other__items__list__box
              .other__items__list__box-photo
                %a{href: "/items/#{category.item.id}"}
                  = image_tag category.item.item_images.first.image.to_s, size: "220x220"
              .other__items__list__box__body
                .other__items__list__box__body__name
                  = category.item.name
                .other__items__list__box__body__value
                  ￥
                  = category.item.price.to_s(:delimited)
                .other__items__list__box__body__tax
                  (税込)
                  = fa_icon("heart")
= render 'shared/footer'

