= render 'shared/header'
.breadcrumb
  .breadcrumb__list
    - breadcrumb :category, @category
    = breadcrumbs separator: " #{fa_icon("chevron-right")} "

.category-show
  .category-show__title
    = "#{@category.name}の商品一覧"
  .category-show__items
    - unless @items.empty?
      - @items.each do |item|
        - unless item.item_images.empty?
          .main__pickup__newitems__box
            = link_to "/items/#{item.id}", class: "main__pickup__newitems__box__link" do
              .main__pickup__newitems__box__photo
                = image_tag item.item_images.first.image.to_s, size: "213x213"
              - if  item.deal_state == 3 || item.deal_state == 4
                .main__pickup__newitems__box__sold-out
                .main__pickup__newitems__box__text
                  SOLD
            .main__pickup__newitems__box__body
              .main__pickup__newitems__box__body__name
                = item.name[0..10]
              .main__pickup__newitems__box__body__value
                ￥
                = item.price.to_s(:delimited)
              .main__pickup__newitems__box__body__tax
                (税込)
                .main__pickup__newitems__box__body__tax__heart
                  = render partial: 'shared/like_items', locals: {item: item}
    - else
      .category-show__not
        = "#{@category.name}に関する商品の出品はまだありません"
= render "shared/display_icon"
= render 'shared/footer'
