= render 'shared/header'
.breadcrumb
  .breadcrumb__list
    - breadcrumb :category, @category
    = breadcrumbs separator: " #{fa_icon("chevron-right")} "

.category-show
  .category-show__title
    = "#{@category.name}の商品一覧"
  .category-show__items
    - unless @items.empty?
      - @items.each do |item|
        - unless item.item_images.empty?
          .category-show__items__item
            .category-show__items__item__image
              = image_tag item.item_images.first.image.to_s, class: "category-show__items__item__image__box"
            .category-show__items__item__name
              = item.name
            .category-show__items__item__link
              = link_to "", item_path(item.id), class: "category-show__items__item__link__box"
            .category-show__items__item__bottom
              .category-show__items__item__bottom__left
                .category-show__items__item__bottom__left__price
                  = "¥ #{item.price.to_s(:delimited)}"
                .category-show__items__item__bottom__left__tax
                  (税込)
              .category-show__items__item__bottom__right
                = render partial: 'shared/like_items', locals: {item: item}
    - else
      .category-show__not
        = "#{@category.name}に関する商品の出品はまだありません"
= render "shared/display_icon"
= render 'shared/footer'
